.mdStyle {
    font: 400 17.6px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--md-text-color);
    background-color: var(--md-bg-color);
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    /* padding-left: 30px;
    padding-right: 30px; */
    /* border: 1px solid red; */
}

@media only screen and (max-width: 600px) {
    body {
        padding: 5px;
        margin: 0;
        padding: 0;
    }
    body>#content {
        padding: 0px 20px 20px 20px !important;
    }
}

body>#content {
    margin: 0px;
    max-width: 900px;
    border: 1px solid #e1e4e8;
    padding: 10px 40px;
    padding-bottom: 20px;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
}

.mdStyle summary {
    cursor: pointer;
    text-decoration: underline;
}

.mdStyle hr {
    color: var(--md-hr-color);
    background-color: var(--md-hr-color);
    height: 1px;
    flex: 0 1 auto;
    margin: 1em 0;
    padding: 0;
    border: none;
}

.mdStyle .hljs-operator {
    color: #868686;
}

.mdStyle a {
    color: var(--md-link-color);
    text-decoration: none;
}

.mdStyle a:visited {
    color: var(--md-link-color);
}

.mdStyle a:hover {
    color: var(--md-link-color);
    text-decoration: underline;
}

.mdStyle pre {
    background-color: var(--md-code-bg);
    border-radius: 3px;
    font-size: 93.5%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
}

.mdStyle code {
    background-color: var(--md-code-inline-bg);
    border-radius: 3px;
    font-size: 93.5%;
    margin: 0;
    word-wrap: break-word;
    padding: .2em .4em;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
}

.mdStyle pre>code {
    background-color: transparent;
    border: 0;
    display: inline;
    line-height: inherit;
    margin: 0;
    overflow: visible;
    padding: 0;
    word-wrap: normal;
    font-size: 100%;
}

.mdStyle blockquote {
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 16px;
    border-left-width: 3px;
    padding: 0 1em;
    color: var(--md-blockquote-color);
    border-left: 4px solid var(--md-blockquote-border);
    padding-left: 15px;
    font-size: 19.8px;
    letter-spacing: -1px;
    font-style: italic;
}

.mdStyle blockquote * {
    font-style: normal !important;
    letter-spacing: 0;
    color: var(--md-blockquote-color) !important;
}

.mdStyle table {
    border-spacing: 2px;
    display: block;
    font-size: 15.4px;
    overflow: auto;
    width: 100%;
    margin-bottom: 16px;
    border-spacing: 0;
    border-collapse: collapse;
}

.mdStyle td {
    padding: 6px 13px;
    border: 1px solid var(--md-table-border);
}

.mdStyle th {
    font-weight: 600;
    padding: 6px 13px;
    border: 1px solid var(--md-table-border);
}

.mdStyle tr {
    background-color: var(--md-bg-color);
    border-top: 1px solid var(--md-table-border);
}

.mdStyle table tr:nth-child(2n) {
    background-color: var(--md-table-row-bg);
}

.mdStyle img {
    max-width: 100%;
}

.mdStyle p {
    line-height: 24px;
    font-weight: 400;
    font-size: 17.6px;
    color: var(--md-text-color);
}

.mdStyle ul {
    margin-top: 0;
}

.mdStyle li {
    color: var(--md-text-color);
    font-size: 17.6px;
    font-weight: 400;
    line-height: 1.5;
}

.mdStyle li+li {
    margin-top: 0.25em;
}

.mdStyle * {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--md-text-color);
}

.mdStyle h1,
.mdStyle h2,
.mdStyle h3 {
    border-bottom: 1px solid var(--md-heading-border);
    color: var(--md-heading-color);
    padding-top: 0.5em;
    padding-bottom: 0.3em;
}

.mdStyle h1 {
    font-size: 2.5rem;
    line-height: 2.75rem;
}

.mdStyle h2 {
    font-size: 1.8rem;
    line-height: 2.75rem;
    /* color: red; */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mdStyle h3 {
    font-size: 1.5rem;
    line-height: 2.75rem;
    /* color: blue; */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mdStyle code>* {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
}